@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
}

body {
  background-color: black;
}

header {
  background-color: rgb(60, 65, 66);
}

.class_div {
  color: rgb(214, 192, 125);
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6cm;
}

.navbar-nav {
  font-size: 2rem;
  margin-top: 3cm;
}

.class_nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.5cm;
}

.logobodega {
  width: 6cm;
}

li {
  display: inline-block;
}

.ul_nav {
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
  display: flex;
  padding-top: 4cm;
  overflow: hidden;
}

.main_fondo {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/21/21/15/botti-329375_960_720.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 1200px;
  background-position: center;
  margin-top: 3cm;
  height: 1000px;
  width: 100%;
  margin-bottom: 3cm;
  display: flex;
  align-items: center;
}

.section_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.texto_bodega {
  color: rgb(195, 151, 99);
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 4em;
  width: 90%;
  margin-top: 2cm;
}

footer {
  background-color: rgb(60, 65, 66);
  width: 100%;
}

.class_redes1 {
  width: 20%;
  margin-left: 70%;
}

.whatsaap1 {
  position: fixed;
  top: 670px;
}

.whatsaap {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 170px;
    width: 100%;
  }
  .class_redes1 {
    width: 50%;
    height: 90px;
    margin-left: 0;
  }
}
.container_nuestrosvinos {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.grid_nuestrosvinos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "row_cabernet row_malbec" "row_syrah row_chardonnay" "row_bonarda .";
  margin-top: 2cm;
  overflow: hidden;
}

.row_cabernet {
  grid-area: row_cabernet;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(166, 134, 111);
}

.row_malbec {
  grid-area: row_malbec;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(166, 134, 111);
}

.row_syrah {
  grid-area: row_syrah;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(166, 134, 111);
}

.row_chardonnay {
  grid-area: row_chardonnay;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(166, 134, 111);
}

.row_bonarda {
  grid-area: row_bonarda;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.class_imagen {
  margin-left: 4cm;
  margin-top: 2cm;
}

.row_parrafo {
  width: 50%;
  text-align: justify;
  margin-left: 4cm;
  margin-top: 1cm;
  color: rgb(195, 151, 99);
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.8s ease-in-out;
}

.row_parrafo:hover {
  transform: scale(1.5);
  transform-origin: center center;
}

.variables_titulo {
  color: rgb(195, 151, 99);
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  padding-left: 2cm;
}

@media screen and (max-width: 768px) {
  .grid_nuestrosvinos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "row_cabernet" "row_malbec" "row_syrah" "row_chardonnay" "row_bonarda .";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .class_imagen {
    margin-left: 1cm;
  }
  .row_parrafo {
    font-size: 1em;
    margin-left: 1cm;
  }
  .variables_titulo {
    font-size: 2rem;
  }
  .class_tit {
    padding-left: 0.8cm;
  }
}
.container_viñedos {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.class_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". div_gualtallary" "div_agrelo ." ". div_chacayes" "div_uva .";
  overflow: hidden;
}

.class_titulosvinedo {
  color: rgb(195, 151, 99);
  margin-bottom: 0.5cm;
  font-size: 4rem;
}

.div_gualtallary {
  grid-area: div_gualtallary;
  display: flex;
  flex-direction: column;
  margin-top: 2cm;
  margin-bottom: 4cm;
  width: 80%;
  align-items: center;
}

.class_img1 {
  width: 500px;
  height: 200px;
  border-color: aliceblue;
  border-style: solid;
  border-width: 10px;
  transition: all 0.5s ease-in-out;
}

.class_img1:hover {
  transform: scale(1.7);
  transform-origin: center center;
}

.div_agrelo {
  grid-area: div_agrelo;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 0.5cm;
  transition: all 0.5s ease-in-out;
}

.div_agrelo:hover {
  transform: translateX(300px);
}

.class_img2 {
  width: 600px;
  margin-left: 2cm;
  margin-bottom: 4cm;
  border-color: aliceblue;
  border-style: solid;
  border-width: 15px;
}

.div_chacayes {
  grid-area: div_chacayes;
  display: flex;
  flex-direction: column;
  margin-right: 6cm;
  align-items: center;
  width: 80%;
  transition: all 0.5s ease-in-out;
}

.div_chacayes:hover {
  transform: translatey(300px);
}

.class_img0 {
  border-color: aliceblue;
  border-style: solid;
  border-width: 15px;
}

.div_uva {
  grid-area: div_uva;
  display: flex;
  margin-left: 2cm;
  margin-top: 2cm;
  width: 80%;
  transition: all 0.5s ease-in-out;
}

.div_uva:hover {
  transform: translate(200px, -80px);
}

.class_img4 {
  border-color: aliceblue;
  border-style: solid;
  border-width: 15px;
  height: 80%;
}

@media screen and (max-width: 768px) {
  .class_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div_gualtallary" "div_agrelo" "div_chacayes" "div_uva";
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1600px;
    overflow: hidden;
  }
  .class_img1:hover {
    display: none;
  }
  .div_agrelo:hover {
    display: none;
  }
  .div_chacayes:hover {
    display: none;
  }
  .div_uva:hover {
    display: none;
  }
  .class_img1 {
    width: 120%;
    border-width: 7px;
  }
  .class_img2 {
    width: 120%;
    margin-right: 2.5cm;
    border-width: 7px;
  }
  .class_chacayes {
    margin-left: 6cm;
  }
  .class_img0 {
    width: 120%;
    border-width: 7px;
    margin-left: 6cm;
  }
  .div_uva {
    margin-right: 2cm;
    margin-top: 2.5cm;
  }
  .class_img4 {
    width: 130%;
    border-width: 7px;
  }
}
.container_sobrenosotros {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.article_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "class_imgjulian texto_julian" "texto_florencia class_imgflorencia";
  width: 100%;
  overflow: hidden;
}

hr {
  color: rgb(247, 224, 195);
  border-width: 3px;
}

.class_imgjulian {
  grid-area: class_imgjulian;
  display: flex;
  justify-content: center;
}

.img_julian {
  width: 60%;
  height: 60%;
  margin-top: 5cm;
}

.texto_julian {
  color: aliceblue;
  font-size: 1.8rem;
  grid-area: texto_julian;
  font-family: Arial, Helvetica, sans-serif;
  width: 83%;
  letter-spacing: 4.5px;
  margin-top: 5cm;
  text-align: justify;
}

.strong_julian {
  color: rgb(222, 201, 173);
}

.class_imgflorencia {
  grid-area: class_imgflorencia;
  display: flex;
  justify-content: center;
  margin-top: 4cm;
}

.img_florencia {
  width: 80%;
  height: 80%;
}

.texto_florencia {
  grid-area: texto_florencia;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  width: 90%;
  letter-spacing: 4.5px;
  margin-top: 3.9cm;
  text-align: justify;
  margin-left: 1.5cm;
  padding-bottom: 2cm;
}

.strong_florencia {
  color: rgb(222, 201, 173);
}

@media screen and (max-width: 768px) {
  .article_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "class_imgjulian" "texto_julian" "class_imgflorencia" "texto_florencia";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2cm;
  }
  .class_imgjulian {
    border-color: rgb(247, 224, 195);
    border-style: solid;
    border-width: 7px;
  }
  .img_julian {
    width: 100%;
    height: 100%;
    margin-top: 0cm;
  }
  .texto_julian {
    font-size: 1.6em;
    margin-top: 2.5cm;
    text-align: center;
  }
  .class_imgflorencia {
    border-color: rgb(247, 224, 195);
    border-style: solid;
    border-width: 7px;
    margin-top: 1cm;
  }
  .img_florencia {
    width: 100%;
    height: 100%;
  }
  .texto_florencia {
    font-size: 1.7em;
    margin-top: 1cm;
    padding-right: 1cm;
    margin-right: 0.5cm;
    text-align: center;
  }
}
.container_aclamacion {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.grid_aclamacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "class_malbec class_bonarda" "class_cabernetfranc class_syrah";
  width: 100%;
  text-align: center;
  margin-top: 3cm;
  padding-bottom: 2cm;
}

.class_malbec {
  grid-area: class_malbec;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.class_malbec .color_titulo {
  color: rgb(195, 151, 99);
  margin-bottom: 1cm;
  font-size: 2.1em;
}
.class_malbec .color_texto {
  color: rgb(195, 151, 99);
  width: 60%;
  margin-top: 1cm;
  font-size: 2rem;
  text-align: justify;
}
.class_malbec .color_texto:hover {
  color: beige;
  font-size: 2.5rem;
  font-family: monospace;
}

.class_bonarda {
  grid-area: class_bonarda;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.class_bonarda .color_titulo {
  color: rgb(195, 151, 99);
  margin-bottom: 1cm;
  font-size: 2.1em;
}
.class_bonarda .color_texto {
  color: rgb(195, 151, 99);
  width: 60%;
  margin-top: 1cm;
  font-size: 2rem;
  text-align: justify;
}
.class_bonarda .color_texto:hover {
  color: beige;
  font-size: 2.5rem;
  font-family: monospace;
}

.class_cabernetfranc {
  grid-area: class_cabernetfranc;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3cm;
}
.class_cabernetfranc .color_titulo {
  color: rgb(195, 151, 99);
  margin-bottom: 1cm;
  font-size: 2.1em;
}
.class_cabernetfranc .color_texto {
  color: rgb(195, 151, 99);
  width: 60%;
  margin-top: 1cm;
  font-size: 2rem;
  text-align: justify;
}
.class_cabernetfranc .color_texto:hover {
  color: beige;
  font-size: 2.2rem;
  font-family: monospace;
}

.class_syrah {
  grid-area: class_syrah;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3cm;
}
.class_syrah .color_titulo {
  color: rgb(195, 151, 99);
  margin-bottom: 1cm;
  font-size: 2.1em;
}
.class_syrah .color_texto {
  color: rgb(195, 151, 99);
  width: 60%;
  margin-top: 1cm;
  font-size: 2rem;
  text-align: justify;
}
.class_syrah .color_texto:hover {
  color: beige;
  font-size: 2.5rem;
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  .grid_aclamacion {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "class_malbec" "class_bonarda" "class_cabernetfranc" "class_syrah";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 89%;
    overflow: hidden;
  }
  .class_bonarda {
    margin-top: 2cm;
  }
  .color_titulo {
    width: 70%;
  }
  .color_texto {
    width: 70%;
  }
}
.container_contacto {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.grid_contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 1200px;
  width: 100%;
  overflow: hidden;
}

.class_titulo {
  color: rgb(98, 79, 54);
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2cm;
  text-align: center;
  animation: move 4s ease-in-out infinite;
}

@keyframes move {
  60% {
    transform: translate(-10%, 0%);
  }
}
.class_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class_h2 {
  color: rgb(98, 79, 54);
  font-size: 3.5rem;
  margin-right: 2cm;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4cm;
}

.class_ul {
  color: rgb(98, 79, 54);
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 35%;
  margin-top: 2.5cm;
}

.class_mapa {
  margin-top: 1.5cm;
}

.class_imglogo {
  display: flex;
  flex-direction: column;
}

.class_imglog {
  margin-left: 6.8cm;
  margin-top: 4cm;
}

.color_maintexto {
  color: rgb(98, 79, 54);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 5cm;
  margin-left: 4.3cm;
  width: 60%;
  text-align: justify;
}

.class_redes {
  width: 40%;
  margin-left: 5.7cm;
  margin-top: 1cm;
}

@media screen and (max-width: 768px) {
  .grid_contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "class_titulo" "class_h2" "class_ul" "class_redes3" "class_mapa";
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1050px;
    width: 100%;
  }
  .class_titulo {
    font-size: 3.5em;
    border-bottom: 1px solid rgb(166, 134, 111);
    padding-bottom: 1cm;
  }
  .class_h2 {
    padding-right: 0.5cm;
  }
  .class_ul {
    width: 50%;
    margin-right: 2cm;
    font-size: 2em;
  }
  .class_redes3 {
    margin-right: 0.5cm;
  }
  .class_imglog {
    display: none;
  }
  .color_maintexto {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
