@use'./variables.scss';

.container_nuestrosvinos {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
}

.navbar-toggler-icon{
    background-color: white;
}   

.grid_nuestrosvinos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "row_cabernet row_malbec"
    "row_syrah row_chardonnay"
    "row_bonarda .";
    margin-top: 2cm;
    overflow: hidden;
}

.row_cabernet {
    grid-area: row_cabernet;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(166, 134, 111);
}

.row_malbec {
    grid-area: row_malbec;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(166, 134, 111);
}

.row_syrah {
    grid-area: row_syrah;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(166, 134, 111);
}

.row_chardonnay {
    grid-area: row_chardonnay;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(166, 134, 111);
}

.row_bonarda {
    grid-area: row_bonarda;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.class_imagen {
    margin-left: 4cm;
    margin-top: 2cm;
}

.row_parrafo {
    width: 50%;
    text-align: justify;
    margin-left: 4cm;
    margin-top: 1cm;
    color: variables.$color_texto;
    font-size: variables.$parrafo_size;
    font-family: variables.$font_family;
    transition: all .8s ease-in-out;
}
.row_parrafo:hover {
    transform: scale(1.5);
    transform-origin: center center;
}

.variables_titulo {
    color: variables.$color_texto;
    font-size: variables.$texto_size;
    font-family: variables.$font_family;
    padding-left: 2cm;
}
@media screen and (max-width:768px) {
    .grid_nuestrosvinos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "row_cabernet"
        "row_malbec"
        "row_syrah" 
        "row_chardonnay"
        "row_bonarda .";
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .class_imagen {
        margin-left: 1cm;
    }
    .row_parrafo {
        font-size: 1em;
        margin-left: 1cm;
    }
    .variables_titulo {
        font-size: 2rem;
    }
    .class_tit {
        padding-left: 0.8cm;
    }
}
