.container_viñedos{ 
    background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/21/texture-1027797_960_720.jpg);
    }

.class_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". div_gualtallary"
    "div_agrelo ."
    ". div_chacayes"
    "div_uva .";
    overflow: hidden;
}

.class_titulosvinedo {
    color: rgb(195, 151, 99);
    margin-bottom: 0.5cm;
    font-size: 4rem;
}

.div_gualtallary {
    grid-area: div_gualtallary;
    display: flex;
    flex-direction: column;
    margin-top: 2cm;
    margin-bottom: 4cm;
    width: 80%;
    align-items: center;
}

.class_img1 {
    width: 500px;
    height: 200px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 10px;
    transition: all .5s ease-in-out;
}

.class_img1:hover {
    transform: scale(1.7);
    transform-origin: center center;
}

.div_agrelo {
    grid-area: div_agrelo;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 0.5cm;
    transition: all .5s ease-in-out;
}

.div_agrelo:hover {
    transform: translateX(300px);

}

.class_img2 {
    width: 600px;
    margin-left: 2cm;
    margin-bottom: 4cm;
    border-color: aliceblue;
    border-style: solid;
    border-width: 15px;
}

.div_chacayes {
    grid-area: div_chacayes;
    display: flex;
    flex-direction: column;
    margin-right: 6cm;
    align-items: center;
    width: 80%;
    transition: all .5s ease-in-out;
}

.div_chacayes:hover {
    transform: translatey(300px);
}

.class_img0 {
    border-color: aliceblue;
    border-style: solid;
    border-width: 15px;
}

.div_uva {
    grid-area: div_uva ;
    display: flex;
    margin-left: 2cm;
    margin-top: 2cm;
    width: 80%;
    transition: all .5s ease-in-out;
}

.div_uva:hover {
    transform: translate(200px, -80px) ;
}

.class_img4 {
    border-color: aliceblue;
    border-style: solid;
    border-width: 15px;
    height: 80%;
}

@media screen  and (max-width: 768px) {
    .class_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "div_gualtallary"
        "div_agrelo"
        "div_chacayes"
        "div_uva";
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1600px;
        overflow: hidden;
        }
        .class_img1:hover {
            display: none;
        }
        .div_agrelo:hover {
            display: none;
        }
        .div_chacayes:hover {
            display: none;
        }
        .div_uva:hover {
            display: none;
        }
        .class_img1 {
            width: 120%;
            border-width: 7px;
        }
        .class_img2 {
            width: 120%;
            margin-right: 2.5cm;
            border-width: 7px;
        }
        .class_chacayes {
            margin-left: 6cm;
        }
        .class_img0 {
            width: 120%;
            border-width: 7px;
            margin-left: 6cm;
        }
        .div_uva {
            margin-right: 2cm;
            margin-top: 2.5cm;
        }
        .class_img4 {
            width: 130%;
            border-width: 7px;
        }
}

